.form-event {
    background-color: aquamarine;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

label {
    margin: 0;
    display: flex;
    font-weight: bold;
    margin: 3px;
}

input {
    background-color: #FEF3C7;
    border: none;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
}

button {
    background-color: #115466;
    color: #FEF3C7;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 5px;;
}